## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- *оценка 2 и меньше* - низкий рейтинг
- *оценка 4.0 и меньше* - средний рейтинг
- *оценка 4.0 и 5* - высокий рейтинг

Результат классификации запишите в столбец *class*

In [1]:
import pandas as pd

data_ratings = pd.read_csv('ml-latest-small/ratings.csv')[['movieId', 'rating']]
data_ratings.head()

   movieId  rating
0       31     2.5
1     1029     3.0
2     1061     3.0
3     1129     2.0
4     1172     4.0

In [9]:
# Вариант 1
def classification(row):
    if row['rating'] <= 2:
        return 'низкий рейтинг'
    elif row['rating'] <= 4.0:
        return 'срений рейтинг'
    return 'высокий рейтинг'

# Вариант 2 (работает дольше)
# def classification(row):
#     if row['rating'] <= 2:
#         row['class'] = 'низкий рейтинг'
#     elif 2 < row['rating'] <= 4.0:
#         row['class'] = 'срений рейтинг'
#     else:
#         row['class'] = 'высокий рейтинг'
#     return row

In [10]:
# Вариант 1
data_ratings_classification = data_ratings.groupby('movieId').agg({'rating': 'mean'}).reset_index()
data_ratings_classification['class'] = data_ratings_classification.apply(classification,axis=1)
data_ratings_classification.head()
# Проверка
# len(data_ratings_classification)

# Вариант 2 (работает дольше)
# data_ratings.groupby('movieId').agg({'rating': 'mean'}).reset_index().apply(classification,axis=1).head()

# Вариант 3 ( От Константина Башевого)
# data_ratings_classification = data_ratings.groupby('movieId').agg({'rating': 'mean'}).reset_index()
# data_ratings_classification['class'] = data_ratings_classification.apply(classification,axis=1)
# data_ratings_classification.head()

   movieId    rating           class
0        1  3.872470  срений рейтинг
1        2  3.401869  срений рейтинг
2        3  3.161017  срений рейтинг
3        4  2.384615  срений рейтинг
4        5  3.267857  срений рейтинг

In [11]:
data_movies = pd.read_csv('ml-latest-small/movies.csv').sort_values(by='movieId')
data_movies.head()
# Проверка
# print(len(data_movies['movieId'].unique()))
# print(len(data_movies))

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
data_movies_extended = data_movies.set_index('movieId').join(data_ratings_classification.set_index('movieId')).reset_index()
data_movies_extended.head(50)

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,срений рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869,срений рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017,срений рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,срений рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.267857,срений рейтинг
5,6,Heat (1995),Action|Crime|Thriller,3.884615,срений рейтинг
6,7,Sabrina (1995),Comedy|Romance,3.283019,срений рейтинг
7,8,Tom and Huck (1995),Adventure|Children,3.800000,срений рейтинг
8,9,Sudden Death (1995),Action,3.150000,срений рейтинг
9,10,GoldenEye (1995),Action|Adventure|Thriller,3.450820,срений рейтинг
10,11,"American President, The (1995)",Comedy|Drama|Romance,3.689024,срений рейтинг
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,2.861111,срений рейтинг
12,13,Balto (1995),Adventure|Animation|Children,3.937500,срений рейтинг
13,14,Nixon (1995),Drama,3.451613,срений рейтинг
14,15,Cutthroat Island (1995),Action|Adventure|Romance,2.318182,срений рейтинг
15,16,Casino (1995),Crime|Drama,3.948864,срений рейтинг
16,17,Sense and Sensibility (1995),Drama|Romance,3.924419,срений рейтинг
17,18,Four Rooms (1995),Comedy,3.288462,срений рейтинг
18,19,Ace Ventura: When Nature Calls (1995),Comedy,2.597826,срений рейтинг
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,2.538462,срений рейтинг
20,21,Get Shorty (1995),Comedy|Crime|Thriller,3.536842,срений рейтинг
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,3.355263,срений рейтинг
22,23,Assassins (1995),Action|Crime|Thriller,3.090909,срений рейтинг
23,24,Powder (1995),Drama|Sci-Fi,3.044118,срений рейтинг
24,25,Leaving Las Vegas (1995),Drama|Romance,3.742574,срений рейтинг
25,26,Othello (1995),Drama,4.100000,высокий рейтинг
26,27,Now and Then (1995),Children|Drama,3.142857,срений рейтинг
27,28,Persuasion (1995),Drama|Romance,4.083333,высокий рейтинг
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,4.025000,высокий рейтинг
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,4.050000,высокий рейтинг
30,31,Dangerous Minds (1995),Drama,3.178571,срений рейтинг
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,3.923469,срений рейтинг
32,34,Babe (1995),Children|Drama,3.601351,срений рейтинг
33,35,Carrington (1995),Drama|Romance,3.545455,срений рейтинг
34,36,Dead Man Walking (1995),Crime|Drama,3.937500,срений рейтинг
35,37,Across the Sea of Time (1995),Documentary|IMAX,2.000000,низкий рейтинг
36,38,It Takes Two (1995),Children|Comedy,2.000000,низкий рейтинг
37,39,Clueless (1995),Comedy|Romance,3.550000,срений рейтинг
38,40,"Cry, the Beloved Country (1995)",Drama,3.916667,срений рейтинг
39,41,Richard III (1995),Drama|War,4.021739,высокий рейтинг
40,42,Dead Presidents (1995),Action|Crime|Drama,2.333333,срений рейтинг
41,43,Restoration (1995),Drama,3.625000,срений рейтинг
42,44,Mortal Kombat (1995),Action|Adventure|Fantasy,2.697368,срений рейтинг
43,45,To Die For (1995),Comedy|Drama|Thriller,3.523256,срений рейтинг
44,46,How to Make an American Quilt (1995),Drama|Romance,3.166667,срений рейтинг
45,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,4.034826,высокий рейтинг
46,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,2.926230,срений рейтинг
47,49,When Night Is Falling (1995),Drama|Romance,4.000000,срений рейтинг
48,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,4.370647,высокий рейтинг
49,52,Mighty Aphrodite (1995),Comedy|Drama|Romance,3.637255,срений рейтинг

## Задание 2

Используем файл *keywords.csv*.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце *'region'* пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим *'undefined'*.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец *region*.

In [7]:
# # Вариант 1
# def geo_classificator(row):
    
#     if ('москва' or 'тула' or'ярославль') in row['keyword'].lower():
#         return 'Центр'
#     elif ('петербург' or 'псков' or 'мурманск') in row['keyword'].lower():
#         return 'Северо-Запад'
#     elif ('владивосток' or 'сахалин' or 'хабаровск') in row['keyword'].lower():
#         return 'Дальний Восток'
#     else:
#         return 'undefined'
    
# Вариант 2 ( От Константина Башевого)
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo_classificator(keyword):
# проходим по ключам (название региона) и значениям (список городов региона) словаря geo_data
    for region, city_list in geo_data.items():
        # проходим по каждому городу региона
        for city in city_list:
            # если название города есть в поисковом запросе, то возвращаем название региона region
            if city in keyword:
                return region
    # если ничего не нашлось, то возвращаем undefined
    return 'undefined'

In [8]:
# Вариант 1
# data_requests = pd.read_csv('keywords.csv')
# data_requests['region'] = data_requests.apply(geo_classificator,axis=1)
# data_requests.head()
# #Проверка
# data_requests['region'].value_counts().head()

# Вариант 2 ( От Константина Башевого)
data_requests = pd.read_csv('keywords.csv')
data_requests['region'] = data_requests.keyword.apply(geo_classificator)
data_requests.head()
#Проверка
data_requests['region'].value_counts().head()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

## Задание 3

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файл *ratings.csv* c рейтингами фильмов, т.е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную *years* запишите список из всех годов с 1950 по 2010.
1. Напишите функцию *production_year*, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка *years*;
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
    - если ни один из номеров года списка *years* не встретился в названии фильма, то возвращается 1900 год.
1. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец *'year'*.
1. Посчитайте средний рейтинг всех фильмов для каждого значения столбца *'year'* и отсортируйте результат по убыванию рейтинга.

In [42]:
years = set(range(1950,2011))

In [43]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return year
    return 1900

In [44]:
%%time
data_movies_extended['year'] = data_movies_extended.apply(production_year,axis=1) #Взят готовый Framework из Задания 1
data_movies_extended.head(100)

Wall time: 3.21 s

,movieId,title,genres,rating,class,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,срений рейтинг,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869,срений рейтинг,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017,срений рейтинг,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,срений рейтинг,1995
4,5,Father of the Bride Part II (1995),Comedy,3.267857,срений рейтинг,1995
...,...,...,...,...,...,...
95,103,Unforgettable (1996),Mystery|Sci-Fi|Thriller,4.000000,срений рейтинг,1996
96,104,Happy Gilmore (1996),Comedy,3.292553,срений рейтинг,1996
97,105,"Bridges of Madison County, The (1995)",Drama|Romance,3.114583,срений рейтинг,1995
98,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical,3.462963,срений рейтинг,1996
99,108,Catwalk (1996),Documentary,4.000000,срений рейтинг,1996

In [45]:
result = data_movies_extended.groupby('year').agg({'rating': 'mean'}).loc[1:].sort_values(by='rating',ascending=False)
result.reset_index().head(20) #.loc[1:] - Исключение фильмов без даты (1900)

    year    rating
0   1951  3.906653
1   1952  3.802318
2   1962  3.772962
3   1953  3.738878
4   1957  3.693322
5   1973  3.688212
6   1971  3.643227
7   1969  3.604509
8   1972  3.585295
9   1958  3.571956
10  1977  3.561309
11  1970  3.559196
12  1976  3.555585
13  1964  3.541368
14  1960  3.521093
15  1965  3.517831
16  1954  3.499630
17  1955  3.494027
18  1978  3.480250
19  1963  3.476131